<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commitFileFailCount</key>
	<string>0</string>
	<key>commitFileSuccessCount</key>
	<string>7</string>
	<key>commitFile_0</key>
	<string>main.luac</string>
	<key>commitFile_1</key>
	<string>caustics.png</string>
	<key>commitFile_2</key>
	<string>config.luac</string>
	<key>commitFile_3</key>
	<string>MyApp.luac</string>
	<key>commitFile_4</key>
	<string>HelloWorld.png</string>
	<key>commitFile_5</key>
	<string>tortoise.png</string>
	<key>commitFile_6</key>
	<string>Sea.jpg</string>
	<key>ftpRUL</key>
	<string>ftp://himiblogftp.gotoftp5.com/others</string>
	<key>isUserZipPack</key>
	<string>0</string>
	<key>minVersion</key>
	<string>1.1.1</string>
	<key>newVersion</key>
	<string>1.1.1</string>
	<key>waitUpdateResPath</key>
	<string>/Users/Himi/Desktop/output</string>
	<key>zipName</key>
	<string>updateRes</string>
</dict>
</plist>
